.widget.title{
    color: #0a0a0a;
}

.widget-container{
    background-color: #5090d3;
  }

@media screen and (max-width: 768px){
    .widget-container h1{
     font-size: 1rem;
    text-align: center;
    }
}

